{% extends "base.html" %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1 class="fw-bold text-success mb-2">Password Reset Request Submitted</h1>
                    <p class="fw-bold">Thank you for requesting a password reset. Please check your email for further instructions on how to reset your password.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
