{% extends "base.html" %}
{% block content %}

<section class="py-5">
    <div class="container py-5">
    <div class="row mb-4 mb-lg-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="fw-bold">Forgot Password</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div
            class="card-body text-center d-flex flex-column align-items-center"> {% if error %}
            <div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="Email" />
              </div>
              <div class="mb-3">
                <button
                  class="btn btn-primary shadow d-block w-100"
                  type="submit">
                  Request Password Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
