{% extends "base.html" %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1 class="fw-bold text-danger mb-2">Invalid Password Reset Link</h1>
                    <p class="fw-bold">Sorry, the password reset link you have followed is invalid or has expired. Please try again or contact us for assistance.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
