{% extends 'base.html' %} {% block content %}

<div class="container pt-4 pt-xl-5">
  <div class="row pt-5">
    <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
      <div class="text-center">
        <p class="fw-bold text-success mb-2"></p>

        {% if success %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
        {% endif %} {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
      </div><br><br><br>
    </div>
  </div>
</div>

{% endblock content %}
