<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Location Sharing App</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Location Sharing App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                       <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_track' %}" >User Track</a>
                </li>
                    <li class="nav-item">
                    <a  class="nav-link" href="{% url 'token_summary' %}" >Token Summary</a>
                </li>

                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logoutaccount' %}">Logout</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link "> Hello {{ token_summary.author }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
       
       
       
       
        </nav>






        <div class="container">
            {% block content %}{% endblock %}
        </div>
<body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <footer class="text-center text-lg-start bg-light textmuted mt-4">
        <div class="text-center p-4">  © 2021 Copyright -
        <a class="text-reset fw-bold text-decoration-none" target="_blank" href="#">Paresh</a>-<a class="text-reset fw-bold text-decoration-none" target="_blank" href="#">
            Paresh Maheshwari
        </a>
        </div>
    </footer>
</html>
